<div class="container">
  <section>

    <div class="card">

      <div id="new-message">

        <div class="input-group">

          <select class="btn btn-info dropdown-toggle" (change)="selectUser($event.target.value)">
            <option class="dropdown-item text-light">
              <i class="material-icons"></i>
            </option>
            <option *ngFor="let user of users" [value]="user.birdId" class="dropdown-item text-light">{{ user.name}}</option>
          </select>

        </div>


        <div class="title-img text-center bg-light">
          <img class="rounded-circle" [src]="user.imageUrl">
        </div>

        <!-- 輸入文字區 -->
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" (click)="reflashMessage()">
              <i class="material-icons">autorenew</i>
            </button>
          </span>
          <input type="text" class="form-control" placeholder="發生了什麼事?" [(ngModel)]="message">

          <span class="input-group-btn">
            <button class="btn btn-info" type="button" (click)="addMessage()" [disabled]="disabledSend">
              <i class="material-icons">send</i>
            </button>
          </span>
        </div>
        <!-- 輸入文字區 end -->

      </div>

      <ul id="feed" class="list-unstyled">
        <li *ngFor="let item of userMessages | orderPipe : true">
          <img class="rounded-circle feed-avatar" [src]="item.imageUrl">
          <div class="feed-post">
            <h5>{{item.name}}
              <small> - {{item.dateTime | date:'HH:mm'}}</small>
            </h5>
            <p>{{item.message}}</p>
          </div>
          <!-- <div class="action-list">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="回覆">
              <span class="material-icons">redo</span>
              <span class="retweet-count">107</span>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="轉推">
              <span class="material-icons">autorenew</span>
              <span class="retweet-count">66</span>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="棒">
              <span class="material-icons">star_rate</span>
              <span class="retweet-count">203</span>
            </a>
          </div> -->
        </li>
      </ul>

    </div>
  </section>



</div>
