<div class="container">
  <section>
    <div class="card">

      <div id="new-message">
        <div *ngIf="user.imageUrl" class="title-img text-center bg-light">
          <img class="rounded-circle" [src]="user.imageUrl">
        </div>

        <div class="input-group">
            <div class="input-group-btn">
              <select class="btn btn-info dropdown-toggle" (change)="selectUser($event.target.value)">
                <option value=""><i class="material-icons"></i></option>
                <option *ngFor="let user of users" [value]="user.id" class="dropdown-item text-light">{{ user.name}}</option>
              </select>
            </div>

            <input type="text" class="form-control" placeholder="發生了什麼事?" [(ngModel)]="message">

            <span class="input-group-btn">
              <button class="btn btn-info" type="button"  (click)="addMessage()"><i class="material-icons">send</i></button>
            </span>
          </div>
        </div>

      <ul id="feed" class="list-unstyled">
        <li *ngFor="let item of userMessages">
          <img class="rounded-circle feed-avatar" [src]="item.imageUrl">
          <div class="feed-post">
            <h5>{{item.userName}}
              <small> - {{item.dateTime | date:'shortTime'}}</small>
            </h5>
            <p>{{item.message}}</p>
          </div>
          <!-- <div class="action-list">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="回覆">
              <span class="material-icons">redo</span>
              <span class="retweet-count">107</span>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="轉推">
              <span class="material-icons">autorenew</span>
              <span class="retweet-count">66</span>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="棒">
              <span class="material-icons">star_rate</span>
              <span class="retweet-count">203</span>
            </a>
          </div> -->
        </li>
      </ul>

    </div>
  </section>



</div>
